body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}