body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.nav-link:hover,
.nav-cardapio .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}

.nav-cardapio .nav-link.active {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link {
    color: #e15f41;
}